body {
  background-color: var(--bs-dark) !important;
  color: var(--bs-light);
}

.row {
  margin-bottom: 5%;
  --bs-gutter-x: 0;
}

.form-control {
  width: 99%;
}

.footer {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 500px) {
  .footer {
    font-size: small;
    text-align: left;
  }

}

#home-link {
  text-decoration: none;
  color: inherit;
}

#note-id {
  visibility: hidden;
  text-align: center;
}

#footer-container {
  border: 1px solid white;
}

#copy-button,
#dec-button,
#notification-row,
#note-row,
#dec-input {
  visibility: hidden;
}


#gh-button-star,
#gh-button-issue {
  padding: unset;
}