<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TMPNOTES 🔥️</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/custom.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
        integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="/getnote.js" defer></script>

</head>

<body class="py-4">
    <div class="container">

        <h1><a id="home-link" href="/">TMPNOTES 🔥️</a></h1>
        <p class="lead">Temporary notes that disappear after reading</p>

        <div class="row" id="get-note-row">
            <button type="submit" class="btn btn-primary mb-2 btn-block mt-1" id="get-note-button">Get Note</button>
            <p>Once you click this, you will not be able to read the note again!</p>
        </div>
        <div class=" row" id="note-row">
            <h2>Note:</h2>
            <div class="col-lg-9">
                <textarea class="form-control" id="note" rows="7" readonly>Get the note first...</textarea>
            </div>
            <div class="col">
                <div class="row">
                    <br>
                    <button type="submit" class="btn btn-primary mb-2 btn-block mt-1"
                        id="copy-note-button">Copy</button>
                </div>
            </div>
        </div>
        <div class="row" id="decrypt-row">
            <div class="col-lg-9">
                <div id="dec-input" class="form-group">
                    <label for="dec-key">Decryption key</label>
                    <input type="password" class="form-control" id="dec-key" placeholder="Your passphrase here">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <p></p>
                    <br>
                    <button id="dec-button" type="submit" class="btn btn-primary mb-2 btn-block mt-1">Decrypt</button>
                </div>
            </div>
        </div>
        <div class="row" id="notification-row">
            <div class="col">
                🔥️ It's gone! Now that this has been read, you will not be able to see this note again. 🔥️
            </div>
        </div>
    </div>
</body>
<div class="container" id="footer-container">
    <div class="footer">
        <div>
            <p>ABOUT TMPNOTES</p>
            <p>Thanks for using TMPNOTES! TMPNOTES is an open source project that allows notes to be passed simply and
                securely.</p>
            <p>Like the concept of TMPNOTES but don't trust those hosting it? Feel free to host it yourself - <a
                    href="https://github.com/soraro/tmpnotes#run-it-yourself">self hosting instructions</a>.</p>
            <p>Enjoy using TMPNOTES? Give our GitHub repo a star!
                <a href="https://github.com/soraro/tmpnotes">
                    <button type="button" class="btn btn-primary" id="gh-button-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                            class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path
                                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z">
                            </path>
                        </svg>
                        <span>Star</span>
                    </button>
                </a>
            </p>
            <p>Running into bugs? Missing a feature you want? Create an issue!
                <a href="https://github.com/soraro/tmpnotes/issues">
                    <button type="button" class="btn btn-primary" id="gh-button-issue">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-github" viewBox="0 0 16 16">
                            <path
                                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                        </svg>
                        <span>Issue</span>
                    </button>
                </a>
        </div>
    </div>
</div>

</html>