<!doctype html>
<html lang="en">

<head>
    {{template "title-and-css"}}
    {{template "crypto-js"}}
    <script src="/getnote.js" defer></script>

</head>

<body class="py-4">
    <div class="container">
        {{template "home"}}
        <div class="row" id="get-note-row">
            <button type="submit" class="btn btn-primary mb-2 btn-block mt-1" id="get-note-button">Get Note</button>
            <p>Once you click this, you will not be able to read the note again!</p>
        </div>
        <div class=" row" id="note-row">
            <h2>Note:</h2>
            <div class="col-lg-9">
                <textarea class="form-control" id="note" rows="7" readonly>Get the note first...</textarea>
            </div>
            <div class="col">
                <div class="row">
                    <br>
                    <button type="submit" class="btn btn-primary mb-2 btn-block mt-1"
                        id="copy-note-button">Copy</button>
                </div>
            </div>
        </div>
        <div class="row" id="decrypt-row">
            <div class="col-lg-9">
                <div id="dec-input" class="form-group">
                    <label for="dec-key">Decryption key</label>
                    <input type="password" class="form-control" id="dec-key" placeholder="Your passphrase here">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <p></p>
                    <br>
                    <button id="dec-button" type="submit" class="btn btn-primary mb-2 btn-block mt-1">Decrypt</button>
                </div>
            </div>
        </div>
        <div class="row" id="notification-row">
            <div class="col">
                🔥️ It's gone! Now that this has been read, you will not be able to see this note again. 🔥️
            </div>
        </div>
    </div>
</body>
{{template "footer"}}

</html>